.basket-card{
    justify-content: space-between;
    align-items: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(228, 228, 228);

    @media(max-width: 515px){
        align-items: inherit;
    }

    &-right{
        align-items: center;
        gap: 120px;

        @media(max-width: 800px){
            gap: 40px;
        }

        @media(max-width: 640px){
            gap: 20px;
        }

        @media(max-width: 515px){
            flex-direction: column;
            align-items: center;
            position: relative;
            top: 10px;
        }
    }

    &-description{
        gap: 15px;

        @media(max-width: 1024px){
            flex-direction: column;
            align-items: center;
            gap: 10px;
        }

        @media(max-width: 515px){
            align-items: inherit;
        }

        & img{
            padding: 10px;
            background-color: #EEEE;

            @media(max-width: 515px){
                width: 125px;
            }
        }
    }

    &-title{
        font-size: 24px;
        position: relative;
        top: 20px;
        max-width: 180px;

        @media(max-width: 1024px){
            top: 0;
            max-width: inherit;
        }
    }

    &-count{
        gap: 120px;

        @media(max-width: 800px){
            gap: 40px;
        }

        @media(max-width: 640px){
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        &-top{
            align-items: center;
            gap: 20px;
            font-size: 24px;
        }

        & .card-count{
            font-weight: 600;

            &-button{
                width: 25px;
                height: 25px;
                border-radius: 100%;
                background-color: var(--color4);
                align-items: center;
                justify-content: center;
                transition: 0.5s ease;

                &:hover{
                    background-color: var(--color1);
                }

                & img{
                    width: 10px;

                }
            }
        }
    }

    &-price{
        font-size: 24px;
        font-weight: 600;
        gap: 50px;
    }

    &-delete{
        background-color: var(--color4);
        color: var(--color5);
        padding: 10px;
        transition: 0.5s ease;

        &:hover{
            background-color: var(--color1);
        }
    }
}