.card-all{
    position: relative;
    top: 60px;
    padding: 65px 0 130px 0;

    & .card-title{
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 75px;
        text-align: center;

        @media(max-width: 730px){
            margin-bottom: 35px;
        }

        @media(max-width: 578px){
            font-size: 28px;
        }
    }

    & .card{
        &-top{
            display: flex;
            gap: 45px;

            @media(max-width:1000px){
                gap: 20px;
            }

            @media(max-width:730px){
                flex-direction: column;
            }

            &-image{
                text-align: center;
            }

            & img{
                max-width: 500px;
                padding: 10px;
                background-color: #EEEEEE;

                @media(max-width:1000px){
                    max-width: 300px;
                }

                @media(max-width:730px){
                    max-width: 70%;
                }
            }
        }

        &-description{
            position: relative;
            top: 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 20px;

            @media(max-width:730px){
                top: 0;
            }

            @media(max-width:1000px){
                font-size: 16px;
            }

            & p{
                @media(max-width:730px){
                    line-height: 1.5;
                    text-align: justify;
                }
            }
        }

        &-bottom{
            margin-top: 15px;
            max-width: 520px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;

            @media(max-width:730px){
                margin-top: 25px;
                max-width: inherit;
            }

             &-total{
                font-size: 24px;
                color: var(--color1);

                @media(max-width:730px){
                    font-size: 20px;
                }

                & span{
                    color: var(--color3);
                    font-weight: 600;
                }
             }

             & button{
                position: relative;
                width: 50%;
                font-size: 12px;
                padding: 13px 20px;
                font-family: var(--font1);
                transition: 0.5s ease;
                background-color: var(--color1);
                color: var(--color5);

                @media(max-width:450px){
                    width: 100%;
                    margin-top: 10px;
                }
        
                &:hover{
                    background-color: #cacaca;
                    color: var(--color1);
                }
             }
        }
    }
}

.added{
    position: absolute;
    right: 0;
    bottom: -23%;
    opacity: 0;
    transform: translateY(0);
    transition: 0.35s;

    &.active{
        opacity: 1;
        transform: translateY(75%)
    }
}