.basket-empty{
    text-align: center;
    align-items: center;
    justify-content: center;
    min-height: 35vh;

    &-title{
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 35px;
    }

    &-button .primary-button{
        background-color: var(--color1);
    }
}

.sucsess-wrapper{
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 200;
    transition: 1s;
    transform: translateX(-200%);

    &.active{
        transform: translateX(0);
    }
}

.sucsess-content{
    background-color: var(--color1);
    color: var(--color5);
    font-size: 18px;
    text-align: center;
    padding: 10px;
}