.footer{
    background: var(--color1);

    &-content{
        color: var(--color5);
        
        & .footer-nav{
            gap: 60px;
            font-size: 16px;
            justify-content: center;
            padding: 20px 0;
            border-top: 2px solid var(--color2);

            &-item{
                color: var(--color5);
            }
        }

        &-top{
            text-align: center;
            padding: 0 0 20px 0;
        }
    }

    &-text{
        font-size: 18px;
    }

    &-logo img{
        width: 130px;
    }
}

@media (max-width: 789px){
    .footer{

        &-text{
            font-size: 12px;
        }

        &-content .footer-nav{
            gap: 30px;
        }

        &-nav-item{
            font-size: 16px;
        }
    }
}