.footer{
    position: relative;
    margin-top: 65px;
    top: 150px;
    padding: 30px 0;
    background: var(--color1);

    &-content{
        justify-content: center;
        gap: 10px;
        color: var(--color5);
    }
}

@media (max-width: 789px){
    .footer{
        top: 65px;
    }
}