.category-card{
    width: 267px;
    position: relative;

    &-count{
        position: absolute;
        bottom: 40px;
        right: 5px;
        background-color: var(--color3);
        color: var(--color5);
        width: 20px;
        height: 20px;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
        font-size: 11px;
    }

    & img{
        width: 100%;
        box-sizing: border-box;
        padding: 10px;
        background-color: #EEEEEE;
    }

    &-description{
        padding-top: 16px;
        width: 100%;
    }

    &-bottom{
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &-name{
        color: var(--color2);
        font-family: var(--font2);
        font-size: 16px;
        margin-bottom: 15px;
    }

    &-price{
        font-size: 24px;
        font-weight: 600;
        color: var(--color3);
    }

    &-button{
        font-size: 12px;
        padding: 13px 20px;
        border: 2px solid #EEE;
        font-family: var(--font2);
        transition: 0.5s ease;

        &:hover{
            background-color: #eee;
        }

        &:active{
            background-color: #cacaca;
            border: 2px solid #cacaca;
        }
    }
}

.message{
    position: absolute;
    right: 0;
    top: 0;
    display: none;

    &.active{
        display: block;
    }
}